<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lv.zzdats.edim</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digimaks</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lv.zzdats.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>NobidShareExtension.lv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lv.zzdats.credential.offer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openid-credential-offer</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lv.dativa.issuing.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openid-vp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lv.dativa.issuing.new.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openid4vp</string>
			</array>
		</dict>
	</array>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>openid4vp</string>
		<string>lietvaris</string>
		<string>openid-vp</string>
		<string>eparakstsid-demo</string>
		<string>eparakstsid</string>
		<string>digimaks</string>
	</array>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>EDOC Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.yourcompany.edoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>edoc</string>
				</array>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
