<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Used by the `edim` (production) target. -->
	<key>apiClientID</key>
	<string>your.wallet.instance</string>
	<key>BaseURL</key>
	<string>https://api.example.com</string>
</dict>
</plist>
